In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jan/.pyenv/versions/3.12.7/envs/aoc/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/jan/.pyenv/versions/3.12.7/envs/aoc/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 85.8 MB/s eta 0:00:00
Downloading numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 96.3 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python -m pip install --upgrade pip

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('1/ids.txt', header=None, sep=r"\s{3}", engine='python')

In [25]:
df1 = df.sort_values(by=[0])
df1.reset_index(drop=True, inplace=True)

In [26]:
df2 = df.sort_values(by=[1])
df2.reset_index(drop=True, inplace=True)

In [28]:
df2

         0      1
0    91489  10278
1    70735  10655
2    19377  10693
3    48843  10754
4    72956  11281
..     ...    ...
995  65534  99467
996  99546  99467
997  42951  99467
998  50618  99867
999  63280  99903

[1000 rows x 2 columns]

In [29]:
df3 = pd.concat([df1[0], df2[1]], axis=1)
df3

         0      1
0    10103  10278
1    10118  10655
2    10352  10693
3    10362  10754
4    10543  11281
..     ...    ...
995  99830  99467
996  99845  99467
997  99892  99467
998  99897  99867
999  99986  99903

[1000 rows x 2 columns]

In [36]:
df3['diff'] = abs(df3[1] - df3[0])
df3

         0      1  diff
0    10103  10278   175
1    10118  10655   537
2    10352  10693   341
3    10362  10754   392
4    10543  11281   738
..     ...    ...   ...
995  99830  99467   363
996  99845  99467   378
997  99892  99467   425
998  99897  99867    30
999  99986  99903    83

[1000 rows x 3 columns]

In [37]:
df3['diff'].sum()

np.int64(1258579)

In [41]:
sim_sum = 0
continue_from = 0
for left_val in df3[0].values:
    curr_found = 0
    for right_val in df3[1].values:
        if right_val > left_val:
            sim_sum += curr_found * left_val
            break
        elif left_val == right_val:
            curr_found += 1
            
print(sim_sum)

23981443